{% extends 'DWESfarmanagerBundle::layout.html.twig' %}

{% block contenido %}

    <article id="post-{{ entrada.id }}" class="post" xmlns="http://www.w3.org/1999/html">

        <header>
            <h2 class="page-header">{{ entrada.titulo }}<br>
                <small> Por:
                    <img src="{{ asset('uploads/documents/'~ entrada.usuario.path) }}" width="30"
                     height="30" border="5" alt="fallo al sacar la imagen">
                    {{ entrada.usuario.username }}
                    <br>
                    <span class="glyphicon glyphicon-time"></span> {{ entrada.fecha|date('d/m/Y - H:i')}}
                </small>
            </h2>

            <small>
                <a class="label label-success margin-left-xs" href="{{ path('dwes_blog_pdf', {'id' : entrada.id }) }}">
                    <i class="glyphicon glyphicon-print"></i> Imprimir
                </a>
            </small>
        </header>
        <br>
        <div class="content-entry">
            <img id="imagenent" class="img-thumbnail img-responsive"
                 src="{{ asset('uploads/documents/'~ entrada.path) }}" width="300"
                 height="300" border="5"
                 alt="{{ entrada.titulo }}">
            <div class="entrada">{{ entrada.contenido }}</div>
        </div>

    </article>
    <!-- /aticulo -->
    <br>
    <!-- Comentarios -->
    <section id="comments" class="row">
        <h4>
            <strong>COMENTARIOS</strong>
        </h4>
        <hr class="colorgraph">
        <ol id="comment-list" class="clearfix">

            {% for comentario in entrada.comentarios %}

                <li class="comment col-xs-12" id="comment-{{ comentario.id }}">

                        <div class="pull-left col-xs-3 text-center">
                            <img src="{{ asset('uploads/documents/'~ comentario.usuario.path) }}" width="30"
                                 height="30" border="5" alt="fallo al sacar la imagen">
                            {{ comentario.usuario.username }}
                            <p><span class="date">
                                <i class="glyphicon glyphicon-time"></i>
                                {{ comentario.fecha | date("d/m/Y - H:i") }}
                            </span></p>
                            <hr class="colorgraph">
                        </div>
                        <div class="comment-body pull-right col-sm-9  col-xs-12">
                            <strong class="comment-title">{{ comentario.titulo}}</strong>
                            <p>{{ comentario.contenido}}<p>
                        </div>
                        <hr>

                </li>
            {% endfor %}

        </ol>
    </section>
    <!-- /section#comments -->
    <hr class="colorgraph">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('dwes_admin_comentario', {'id' : entrada.id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            AÑADIR COMENTARIO</a><br><br>
    {% else %}
        <a href="{{ path('dwes_blog_comentario', {'id' : entrada.id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            AÑADIR COMENTARIO</a><br><br>
    {% endif %}

{% endblock %}